# PYTHON BASICS

Python is a Programming Language

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

# List, Tuples, Set, dictonary

## LIST

List items are ordered, changeable, and allow duplicate values.

A list can contain different data types

### Ordered
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value

In [40]:
# LIST
cars = ['BMW', 'Ford', 'GT', 'Audi']

# Entering the Duplicate values
cars = ['BMW', 'Ford', 'GT', 'Audi', 'BMW']
print(cars)

['BMW', 'Ford', 'GT', 'Audi', 'BMW']

In [41]:
# Entering the Duplicate values
cars = ['BMW', 'Audi', 'Benz', 'BMW']
print(cars)

['BMW', 'Audi', 'Benz', 'BMW']

In [42]:
# Check the length of the list
print(len(cars))

4

In [43]:
# Type() is used to check the type of datatype
print(type(cars))

<class 'list'>

In [44]:
# The list() constructor 
data_car = list(('BMW', 'Audi', 'Benz', 'BMW'))
print(data_car)

['BMW', 'Audi', 'Benz', 'BMW']

In [45]:
print(cars)
print(cars[1])
print(cars[:2])
print(cars[1:2])
print(cars[-3:-1])

['BMW', 'Audi', 'Benz', 'BMW']
Audi
['BMW', 'Audi']
['Audi']
['Audi', 'Benz']

In [46]:
# If statement in List
if "audi" in cars:
    print("The cars is worthy")
else:
    print("The cars is not worthy")

The cars is not worthy

In [47]:
# Redefining the value
cars[1] = 'Rolls Royce'
print(cars)

# Redefining for an Multipel Values
cars[2:3] = ["Maruti", "Hundai"]
print(cars)

['BMW', 'Rolls Royce', 'Benz', 'BMW']
['BMW', 'Rolls Royce', 'Maruti', 'Hundai', 'BMW']

In [48]:
# Insert() is used to insert the values at an particular index
cars.insert(2,'Jaguar')
print(cars)

['BMW', 'Rolls Royce', 'Jaguar', 'Maruti', 'Hundai', 'BMW']

In [ ]:
# append() is used to get the value added to the end of the list
cars.append('Ford')
print('The Append values',cars)

In [ ]:
# extend() is used to append elements from the another list

list1 = ['Apple', 'Mango', 'Banana', 'Orange']
list2 = ['Kiwi', 'Jack fruit', 'Dragon Fruit']
list1.extend(list2)
print(list1)

# This extend() can also append in the tupel, dictonary, set

var_one = ["Bike", "Car", "Cycle"]
var_two = ("Aeroplane", "ship")
var_one.extend(var_two)
print('The Extend value is', var_one)

In [ ]:
# Remove() is to get of the specific item
# If there are more than one item with the specified value, the remove() method removes the first occurrence:
cars.remove('BMW')
print(cars)

In [ ]:
# pop() is used to remove the specific index

cars.pop(1)
print(cars)

# if no index is specified it removes the last values

cars.pop()
print(cars)

In [ ]:
# del is also used for removing the specific value or the whole list 
# var_one
# del var_one[0]
# print(var_one)
# del var_one

In [ ]:
# clear() empty the list, the list still remains with no values
cars.clear()

In [ ]:
# Loop list -1
fruit = ["apple", "banana", "pineapple"]
for x in fruit:
    print(x)
    if x == 'banana':
        break

In [52]:
# Loop list -2
fruit = ["apple", "banana", "pineapple"]
for x in fruit:
    if x == 'banana':
        break
    print(x)

apple

In [86]:
# Customised Sort
# You can also customize your own function by using the keyword argument key = function
def mysort(n):
    return abs(n-50)

list = [50, 100, 58, 62]

list.sort(key = mysort)
print(list)

# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
fruits_basket = ["banana", "Orange", "Kiwi", "cherry"]
# fruits.sort()
fruits_basket.sort(key = str.lower)
print(fruits_basket)
# print(fruits)

[50, 58, 62, 100]
['banana', 'cherry', 'Kiwi', 'Orange']

In [65]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = []

new_list_creation = [x for x in fruits if x != "mango"]
print(new_list_creation)

# Code Break-up which can be exaplined in the code below
for i in fruits:
    if i != "apple":
        newlist.append(i)
print(newlist)

['apple', 'banana', 'cherry', 'kiwi']
['banana', 'cherry', 'kiwi', 'mango']

In [72]:
# Upper and Lower case Transformation
x = "Geetha"
y = x.lower()
z = x.upper()
print(y)
print(z)

geetha
GEETHA

In [89]:
# Reverse() - reverse the order of a list, regardless of the alphabet

furits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse()
print(fruits)

['banana', 'Orange', 'Kiwi', 'cherry']

In [78]:
# Sorting with Asc & DSCE
# ASC
animals = ['Tiger', 'Zebra', 'Elephant', 'Lion']
animals.sort()
print(animals)

# DSCE
animals.sort(reverse = True)
print(animals)

['Elephant', 'Lion', 'Tiger', 'Zebra']
['Zebra', 'Tiger', 'Lion', 'Elephant']

## TUPLES

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple are indexed, the first item has index [0], the second item has index [1].

### Ordered
The tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [23]:
# TUPLES 
cars = ('BMW', 'Ford', 'GT', 'Audi')
print(cars)

('BMW', 'Ford', 'GT', 'Audi')

In [36]:
# Adding Duplicated in an Tuples
cars = ('BMW', 'Ford', 'GT', 'Audi', 'GT')
print(cars)

# Length of an tuple
cars = ('BMW', 'Ford', 'GT', 'Audi', 'GT')
print(len(cars))

('BMW', 'Ford', 'GT', 'Audi', 'GT')
5

In [34]:
# In order to have only one item in a tuple follw the command below
cars = ('BMW',)
print(cars)
print(type(cars))

# In case when the comma is not given
cars_value = ('BMW')
print(cars_value)
print(type(cars_value ))

('BMW',)
<class 'tuple'>
BMW
<class 'str'>

In [2]:
# Tuples Constructor
f_name = tuple(('Hari', 'Jay', 'Ram'))
print(f_name)

('Hari', 'Jay', 'Ram')

In [18]:
# Concerting a tuple into an list
# The only way to add the item to an tuples is to convert to list and add the item and again change to tuples
# append() can aslo be added up only converting to list
f_name = ('Hari', 'Jay', 'Ram')
# f_name_to_list = list(f_name)

# f_name_to_list[1] = "vishnu"

# f_name = tuple(f_name_to_list)

# print(f_name)

# Miscellaneous

In [55]:
# Print the start patten in the tree form 
for x in range(6):
    for j in range(x):
        if j <= x:
            print("*", end=" ")   
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [56]:
# Print the pattern of tree with the numbers
for x in range(1,6):
    for j in range(x):
        print(j, end = " ")
    print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [57]:
# Print the start patten in the tree form 
for i in range(4):
    for j in range(4):
        print('*', end = "")
    print('\n')

****

****

****

****

In [61]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
x = 1
y = 1
z = 1
n = 2

new_list = []
    
for i in range(x+1):
#     print('The value of x',x)
    for j in range(y+1):
#         print('The value of y',y)
        for k in range(z):
#             print('The value of z',z)
            if(i+j+k != n):
                new_list.append([i,j,k])
print(new_list)

[[0, 0, 0], [0, 1, 0], [1, 0, 0]]